
body{	
	background-image: url(background.jpg);
	
}
.container {
	background: #fff;
	margin: 40px auto;
	width: 880px;
	font-family: "Trebuchet MS", arial;
	box-shadow: 0 0 30px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 30px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.4);

}

.border{
	border-bottom: 1px solid #eeeeee;	
}

.line{
	text-align:center;
	font-family: 'Titillium Web', sans-serif, 700;
	color: #ff6f69;
	font-size: 35px;
}

.text{
	font-family: 'Titillium Web', sans-serif, 400;
	color: black;
	font-size: 15px;
}

/* -------------- Sektion 1 profilbild och rubrik -------------------*/

.header {
	color: #fff;
	height: 30px;
	padding: 14px 18px 0 18px;
	
}

.social_contact {
	float: right;
	text-decoration: none;
	color: #fff;
	padding: 5px 7px;
	font-size: 13px;
	background: #B2B2B2;
	border-radius: 3px;
	margin-left: 8px;
	
}

.social_contact:hover {
	color: #000;
	background: #fff;
}


.headline {
	height: 120px;
	padding: 38px 0 48px;
}


.first-line{
	text-align:center;
	font-family: 'Titillium Web', sans-serif, 700;
	color: #ff6f69;
	font-size: 80px;
	font-style:bold;
}

#underline{
	text-align:center;
	font-family: 'Titillium Web', sans-serif, 700;
	color: #B2B2B2;
	font-size: 20px;
}

.imgstyle{
	margin-left:20px;
}


/* -------------- Sektion 2 beskrivning/presentation -------------------*/

.presentationtext{
	margin-top: 20%;
	margin-left: 5%;
	margin-right: 5%;	
	margin-bottom: 10%;
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
}

#hej{
	font-family: 'Open Sans', sans-serif;
	color: #ff6f69;
	font-size:18px;
	
}


/* -------------- Sektion 3 Utbildning -------------------*/


.education {
	margin-top:50px;
	height: 350px;
}

.selection_education {
	border-bottom: 1px solid #eeeeee;
}

.hatimg{
	margin-left:45px;
}

.university{
	color: #B2B2B2;
	
}

/* -------------- Sektion 4 Färdigheter -------------------*/

 
.skills{
	height: 350px;
	float:left;	
	margin-left:2%;
	margin-right:2%;
	margin-bottom:10%;
	margin-top:50px;
}  
  
.technicalskills{
	margin-top:250%;
	
}
  
.progress-bar {
	background-color:#ff6f69;
	height:16px;
 	width:320px;
	margin:0 0 20px;
	
	
	display:inline-block;
	height:100%;
	border-right:1px solid rgba(255,255,255,0.1);
	box-shadow:0 0 20px rgba(0,0,0,0.2) inset;
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2) inset;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2) inset;
}


/* -------------- Sektion 5 GDPR -------------------*/

.gdpr{
	margin-bottom:400px;

}



/*----------Section------------*/

.section {
	border-bottom: 4px solid #eeeeee;
	padding: 38px 0 38px;
	margin: 0 18px;
}


.section h1 {
	font-family: 'LeagueGothicRegular', serif;
	font-size: 40px;
	color: #000;
	letter-spacing: 0;
	margin-top: 35px;
	margin-left: 150px;
}

.section h2 {
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 2px;
	margin-left: 150px;
	color: #0099CC;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.2em;
}

.section ul {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.8em;
	float: left;
	margin-top: 10%;
	color: #666;
}

.section ul span {
	color: #0099CC;
	font-weight: bold;
	font-size: 13px;
}

.section ul a {
	color: #666;
	text-decoration: none;
}

.section ul a:hover {
	color: #444;
}

.section .left {
	width: 202px;
	float: left;
}

.section .left p {
	font-size: 14px;
	padding-right: 20px;
	margin-top: 10px;
	color: #888;
}

.section .left h3 {
	font-family: 'LeagueGothicRegular', serif;
	font-size: 24px;
	color: #000;
}

.section  .right {
	float: right;
	width: 622px;
}

.section p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 1.3em;
}

.section h4 {
	font-family:Arial, Helvetica, sans-serif;
	color: #0099CC;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 8px;
}


.sectiontop {
	height: 120px;
	padding: 38px 0 48px;
}

  
  
  /* SLIDE ANIMATION från W3SCHOOLS*/
  
   .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
 